<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<div class="container" style="margin-top:30px;">
        <a href="/users"></a> <button type="button" class="btn btn-primary">Список пользователей</button></a>
    <a href="/ownpres"><button type="button" class="btn btn-primary">Мои презентации</button></a>
    <a href="/schedule"> <button type="button" class="btn btn-primary">Расписание</button></a>
</div>
</body>
</html>